body {
  margin: 0;
  padding: 0;
}
.header-bar .ui.attached.header{
  color: #FFFFFF;
  background-color: #66AFE9;
}

.form-wrapper{
  width: 78%;
  margin:0 auto;
  padding-top: 15vh;
  text-align: center;
}
