@import 'reset';

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
}

.breadcrumbs {
  color: #000;
  font-family: Roboto, sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  li {
    list-style: none;
    &::after {
      content: ' >';
    }
  }
}
